<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Kurs</th>
      <th>Skrót</th>
      <th>Rok akademicki</th>
      <th>Grupa</th>
    </tr>
  </thead>
  <tbody>
    <% courses.each do |course| %>
      <tr onclick="window.location='/courses/<%= course.id %>';">
        <td>
          <%= course.name %>
        </td>
        <td>
          <%= course.name_short %>
        </td>
        <td>
          <%= course.academic_year %>
        </td>
        <td>
          <%= course.group_number %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
