<p><%= course.name %></p>
<p><%= course.instructors.map { |i| "#{i.title} #{i.name} #{i.surname}" }.join(', ') %></p>

<br>
<form action='/script' method='post'>
  <input class='btn btn-primary' type='submit' value='Generuj skrypt'></input>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th width='10%'>numer albumu</td>
        <th></th>
        <th>
          <div>Utwórz w systemie</div>
          <div>
            <input type='checkbox' id='select-all'></input>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <% course.students.each do |student| %>
      <tr>
        <% user_exists = students_system_accounts[student.index_number.to_s] %>
        <td><%= student.index_number %> </td>
        <td><%= "#{ student.name } #{student.surname}" %></td>
        <td><input type='checkbox' name='create-students-account[]' value='<%= student.index_number.to_s %>'
              <%= user_exists ? 'checked disabled' : 'class = "create-account"' %>
        >
          </input></td>
      </tr>
    <% end %>
    <tbody>
  </table>
  <input class='btn btn-primary' type='submit' value='Generuj skrypt'></input>
</form>

<script>
  document.getElementById('select-all')
    .addEventListener('click', (e) => {
      checkboxes = document.getElementsByClassName('create-account');
      for(var i = 0; i < checkboxes.length; i++){
        checkboxes[i].checked = e.target.checked;
      }
    });

  [...document.getElementsByClassName('create-account')]
    .forEach( (el) => {
      el.addEventListener('click', () => {
        document.getElementById('select-all').checked = allChecked();
      });
    });

  const allChecked = () => {
    checkboxes = document.getElementsByClassName('create-account');
    return [...checkboxes].every( (checkbox, index, array) => {
      return checkbox.checked;
    });
  }
</script>
